.Data_Grid{
    height:65vh;
    width:100vw;
    padding-top: 2vh;
    color: white;
    text-decoration-color: white;

}
.Data_Grid>input{
    color: white;
    text-decoration-color: white;
}
.space{
    padding-left: 1vw;
    padding-right: 1vw;
}
.MuiDataGrid-cellContent{
    color: white;
    text-decoration-color: white;
}
.MuiDataGrid-columnHeaderTitle{
    color: white;
    text-decoration-color: white;
}
.MuiCheckbox-colorPrimary{
    color: white;
    text-decoration-color: white;
}
.MuiCheckbox-root{
    color: white;
    text-decoration-color: white;
}

.MuiButtonBase-root{
    color: white;
    text-decoration-color: white;
}
.MuiDataGrid-selectedRowCount {
    color: white;
    text-decoration-color: white;
}
